# Editor settings and project files
.vscode
*.iml
.idea

# Node.js package directories
node_modules

# Build outputs
*.map  # Only exclude source maps and other non-essential build files

# TypeScript outputs (if applicable)
*.d.ts

# Environment variables and configuration files
.env

# Log files
*.log

# Local database files
*.db
*.sql

# Dependency lock files
yarn.lock  # Include if you don't use Yarn

# macOS system files
.DS_Store

# Plugin workspace settings
codeblock-search.code-workspace

# Data files specific to Obsidian
data.json
